* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
.fitlerDiv{
    text-align: left;
    max-width: 100px;
}
.fitlerDiv:hover{
    color:#b4b4b4;
    cursor: pointer;
}
#calendarContainer{
    padding-top: 15px;
    padding-bottom: 20px;
}
.month {
    padding: 70px 10px;
    width: 100%;
    background: #22262999;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#MonthSection{
    background-color: #fBE8A690;
    width:100%;
    border-radius: 15px;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-height: 30px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    min-height: 40px;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
}

.days li .active {
    padding: 5px;
    background: #222629;
    color: white !important
}
.days .hasEvent {
    padding: 5px;
    background: #222629;
    color: white !important
}

.days li .event_even {
    width: 100%;
    background: #fff88f;
    margin: 3px;
    color: black;
}
.days li .event_even:hover {
    background: #000000;
    color: white;
}
.days li .event_odd {
    width: 100%;
    background: #ffcbcb;
    margin: 3px;
    color: black;
}
.days li .event_odd:hover {
    background: #000000;
    color: white;
}

.days li .class_even {
    width: 100%;
    background: #9dffa5;
    margin: 3px;
    color: black;
}
.days li .class_even:hover {
    background: #000000;
    color: white;
}
.days li .class_odd {
    width: 100%;
    background: #a8fff6;
    margin: 3px;
    color: black;
}
.days li .class_odd:hover {
    background: #000000;
    color: white;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
    background-color: #222629;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    min-height: 120px;
    border-radius: 20px;
}

.popupButton{
    background-color: #fBE8A690;
    border-color: #1b223d99;
    color: white;
}
.popupButton:hover{
    background-color: rgba(112, 94, 27, 0.565);
    cursor: pointer;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}