
#dataSection{
    padding-top: 10%;
}
.dataDiv{
    display:inline;
}
.table{
    width:100%;
}
.tableHeader{
    width: 33%;
}
.full{
    width: 100%;
}
#footer{
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Modal Content */
.popup-content {
    max-width: 400px;
    min-height: 120px;
}