
html {

	background-color: #00F5FF;
}

header {



}

header h1 {

	border-radius: 20px;
	font-family: arial, helvetica;
	color: white;
	text-align: center;
	margin-top: 0;
}

body {
	border-radius: 10px;
	padding: 0;
	background-color: #344152;
	display: block;
	margin: auto;
	width: 50%;
}

#reservationWrapper {

	background-color: white; //#e5e5e5;
	max-height: 300px;
	margin-top: 25px;
	box-shadow: 5px 5px 15px black;
	margin: auto;
	margin-top: 5px;
	
	width: 100%;
}

#resInputs {

	padding: 0;
	display: inline;
	width: 100%;
}

.inputBtnSet1 {

	width: 18.9%;
	padding: 0;
	margin: 0;
}

#rms {

	user-select: none;
	display: block;
	height: auto;
	max-height: 200px;
	width: 100%;
	margin: auto;
	margin-top: 0;
	//transform: scale(1.5);
	//pointer-events: none;
}

#bath {
	
	fill: black;
	
}

/*#rmAText:hover {

	//fill: #b3ffb3 !important;
	pointer-events: none !important;
	
	}*/

#rmA:hover {

	fill: #b3ffb3 !important;
	

}

 .rms {

	transition: fill .3s ease;

	
}

nav {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 2px, white;
	max-height: 70px;
	
}

nav ul {

	list-style: none;
	width: 100%;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	padding: 0;
	padding-top:5px;
	padding-bottom: 5px;
	margin: 0 auto;
	max-height: 25px;
	
}

nav ul li {

	display: inline-block;
	color: #87CEFF;
	width: 17%;
	margin: auto;
	max-height: 25px;

}

nav ul li a {
	max-height: 25px;
	text-decoration: none;
	color: #87CEFF;
	//-webkit-transition: font-size: .5s;
	//-moz-transition: font-size .5s;
	//-o-transition: font-size .5s;
	//transition: font-size .5s;
	//-moz-transition: color .75s;	
	-webkit-transition: color .75s;	
	transition: color .75s;	
	margin: auto;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;

}

nav ul li a:hover{
	//font-size: 115%;
	color: white;
	max-height: 25px;
	
}


.bodyContent {
	color: white;
	font-size: 1.2em;
	padding-left: 5%;
	padding-right:5%;

}

